@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Adamina&family=Dancing+Script&display=swap");

@font-face {
  font-family: "Leiko";
  src: url("fonts/Leiko/Leiko-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #53362a;
  border-radius: 10px;
}

body {
  background-color: #221518;
}

